extends ../../layout/default.pug 
include ../../mixins/alert-status.pug
include ../../mixins/renderOptions.pug

block main 
  h1.mb-4 Chỉnh sửa danh mục sản phẩm 

  +alert-err(5000)

  form#form-create-product(
    action=`${prefixAdmin}/product-categories/edit/${data._id}?_method=PATCH`
    method="POST"
    enctype="multipart/form-data"
  )
    .form-group
      label(for="title") Tiêu đề
      input.form-control(
        type="text"
        id="title"
        name="title"
        required
        value=data.title
      )

    .form-group
      label(for="parent_id") Danh mục cha
      select.form-control(name="parent_id" id="parent_id")
        option(value=data.parent_id)= data.parent_title || "-- Chọn danh mục cha --"
        if records && records.length
          +renderOptions(records, "")

    .form-group
      label(for="desc") Mô tả
      textarea.form-control.textarea-mce(
        id="desc"
        name="description"
        rows="5"
        textarea-mce
      )= data.description

    .form-group(upload-image)
      label(for="thumbnail") Ảnh
      input.form-control-file(
        type="file"
        id="thumbnail"
        name="thumbnail"
        accept="image/*"
        upload-image-input
      )
      img.image-preview(
        src=data.thumbnail
        upload-image-preview
      )

    .form-group
      label(for="position") Vị trí
      input.form-control(
        type="number"
        id="position"
        name="position"
        placeholder="Tự động tăng"
        min="1"
        value=data.position
      )

    .form-group.form-check.form-check-inline
      input.form-check-input(
        type="radio"
        id="statusActive"
        name="status"
        value="active"
        checked=(data.status === "active")
      )
      label.form-check-label(for="statusActive") Hoạt động 

    .form-group.form-check.form-check-inline
      input.form-check-input(
        type="radio"
        id="statusInActive"
        name="status"
        value="inactive"
        checked=(data.status === "inactive")
      )
      label.form-check-label(for="statusInActive") Dừng hoạt động

    .form-group
      button.btn.btn-primary(type="submit") Cập nhật